In [20]:
import pandas as pd

df = pd.read_csv('data_prototype_text.csv')
filtered_df = df.drop([0,1]).filter(['Q1', 'Q22'])
filtered_df = filtered_df.loc[filtered_df['Q1'] == 'Yes'].sort_values(by=['Q22'])
filtered_df

     Q1      Q22
34  Yes     Both
16  Yes   Google
17  Yes   Google
18  Yes   Google
20  Yes   Google
21  Yes   Google
23  Yes   Google
24  Yes   Google
31  Yes   Google
36  Yes   Google
2   Yes  Neither
19  Yes  Neither
22  Yes  Neither
25  Yes  Neither
30  Yes  Neither

In [21]:
filtered_df[(df['Q22'] == 'Google')].count()

/ext/sage/sage-9.1/local/lib/python3.7/site-packages/sage/repl/ipython_kernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel.kernelapp import IPKernelApp

Q1     9
Q22    9
dtype: int64